pre#output1.output1
pre#output2.output2
footer.container.b
    br
    p.text-center
        | &copy; 2019 | &nbsp;
        i.fa.fa-lock(aria-hidden='true') &nbsp;
        a(href='/'): strong DANISH - THAI GALA