// Essential javascripts for application to work
script(src='https://code.jquery.com/jquery-3.3.1.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js')
script(src='/javascripts/popper.min.js')
script(src='/javascripts/bootstrap.min.js')

// The javascript plugin to display page loading on top
script(src='/javascripts/plugins/pace.min.js')
//
script(src='/javascripts/plugins/jquery.serializejson.js')
script(src='/javascripts/main.js')
script(src='/javascripts/app.js')

//- script(src='https://www.paypal.com/sdk/js?client-id=AXydPsLXTdZ6adJzSh4A83aP5yRgqVzY6nOIwMHQC5M4xVkNvhR8N25mZVKAfSKzZD_7p1ZFHT5bGnZ1&currency=THB&locale=en_TH')
