<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
	<webSocket enabled="false" />
    <handlers>
      <!-- Indicates that the server.js file is a node.js site to be handled by the iisnode module -->
      <add name="iisnode" path="bin/www" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <!-- Do not interfere with requests for node-inspector debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^bin/www\/debug[\/]?" />
        </rule>

        <!-- First we consider whether the incoming URL matches a physical file in the /public folder -->
        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}"/>
        </rule>

        <!-- All other URLs are mapped to the node.js site entry point -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="bin/www"/>
        </rule>
      </rules>
    </rewrite>
    
    <!-- 'bin' directory has no special meaning in node.js and apps can be placed in it -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin"/>
        </hiddenSegments>
      </requestFiltering>
    </security>

    <!-- Make sure error responses are left untouched -->
    <httpErrors existingResponse="PassThrough" />

    <!--
      You can control how Node is hosted within IIS using the following options:
        * watchedFiles: semi-colon separated list of files that will be watched for changes to restart the server
        * node_env: will be propagated to node as NODE_ENV environment variable
        * debuggingEnabled - controls whether the built-in debugger is enabled

      See https://github.com/tjanczuk/iisnode/blob/master/src/samples/configuration/web.config for a full list of options
    -->
    <!--<iisnode watchedFiles= "*.js;iisnode.yml;*.pug;*.css;*.scss/>-->
	<iisnode
    node_env="%node_env%"
    nodeProcessCountPerApplication="1"
    maxConcurrentRequestsPerProcess="1024"
    maxNamedPipeConnectionRetry="200"
    namedPipeConnectionRetryDelay="500"      
    maxNamedPipeConnectionPoolSize="1024"
    maxNamedPipePooledConnectionAge="50000"
    asyncCompletionThreadCount="0"
    initialRequestBufferSize="4096"
    maxRequestBufferSize="65536"
    watchedFiles= "*.js;iisnode.yml;*.pug;*.css;*.scss;*.json"
    uncFileChangesPollingInterval="5000"      
    gracefulShutdownTimeout="60000"
    loggingEnabled="true"
    logDirectory="iisnode"
    debuggingEnabled="true"
    debugHeaderEnabled="false"
    debuggerPortRange="5058-6058"
    debuggerPathSegment="debug"
    maxLogFileSizeInKB="128"
    maxTotalLogFileSizeInKB="1024"
    maxLogFiles="20"
    devErrorsEnabled="true"
    flushResponse="false"      
    enableXFF="false"
	/>
    <!-- <iisnode
      nodeProcessCommandLine="&quot;%programfiles%\nodejs\node.exe&quot;" 
      interceptor="&quot;%programfiles%\iisnode\interceptor.js&quot;"
    /> -->
  </system.webServer>
  <appSettings>
    <add key="KUN" value="Kun Srithaporn" />
    <add key="MONGO_DB" value="dbusers" />
    <add key="MONGO_USER" value="" />
    <add key="MONGO_PASS" value="" />
    <add key="MONGO_URI" value="mongodb://localhost:27017/dbusers" />
    <add key="MONGO_NATIVE_PARSER" value="true" />
    <add key="MONGO_COLLECTION" value="dbusers.users" />
    <add key="MONGO_OPLOG" value="mongodb://localhost:27017/dbusers" />

    <add key="SESSION_RESAVE" value="false" />
    <add key="SESSION_SAVE_UNINITIALIZED" value="true" />
    <add key="SESSION_SECRET" value="64117738656411773865" />
    <add key="SESSION_DB" value="sessions" />

    <add key="NODEMAILER_HOST" value="smtp.office365.com" />
    <add key="NODEMAILER_SERVICE" value="Outlook365" />
    <add key="NODEMAILER_USER" value="ks@bang-olufsenth.com" />
    <add key="NODEMAILER_PASS" value="killopop!3651" />
    <add key="NODEMAILER_PORT" value="587" />

    <add key="NODEMAILER_GHOST" value="smtp.gmail.com" />
    <add key="NODEMAILER_GSERVICE" value="Gmail" />
    <add key="NODEMAILER_GUSER" value="kun.srithapor@gmail.com" />
    <add key="NODEMAILER_GPASS" value="Dontdothis555" />
    <add key="NODEMAILER_GPORT" value="587" />

    <add key="NODEMAILER_MAILGUNSERVICE" value="Mailgun" />
    <add key="NODEMAILER_MAILGUN_USER" value="postmaster@sandbox7eb42c5dd2ef4ba484e3388605b2bb96.mailgun.org" />
    <add key="NODEMAILER_MAILGUN_PASSWORD" value="7db25c5963aa3dbabc1d67b1df9c3aab-e566273b-6f11710f" />
    <add key="NODEMAILER_MAILGUN_API_KEY" value="62cd4466350ce5149b3a66a420a00ee4-e566273b-f9cf94e8" />
    <add key="NODEMAILER_MAILGUN_DOMAIN" value="sandbox7eb42c5dd2ef4ba484e3388605b2bb96.mailgun.org" />

    <add key="NODEMAILER_SENDGRIDSERVICE" value="SendGrid" />
    <add key="NODEMAILER_SENDGRID_USER" value="neokunss" />

    <add key="NODEMAILER_SENDGRID_API_KEY" value="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" />
    <add key="PAYPAL_ID" value="AXydPsLXTdZ6adJzSh4A83aP5yRgqVzY6nOIwMHQC5M4xVkNvhR8N25mZVKAfSKzZD_7p1ZFHT5bGnZ1" />
    <add key="PAYPAL_SECRET" value="ENT4K4_ubd3Ck5F0GaTcufhK-xyRqqpneKAvxhRrRCVLxCRW02xLdYBwkZ9CNO98PkBBTA5genprjZwC" />

    <add key="PAYPAL_RETURN_URL" value="http://danishthaigala.dadriba.com/api/paypal/success" />
    <add key="PAYPAL_CANCEL_URL" value="http://danishthaigala.dadriba.com/api/paypal/cancel" />
  </appSettings>
</configuration>