extends layouts/_layout.pug

block variables
    - var activePage = 'register-page'
    - var activeGroup = 'pages'

block title
    title #{title} | Danish - Thai Gala

block content
    section.material-half-bg
        .cover
    section.container
        h2.text-center.top-buffer.text-white #{title}
        br

        form#register_form.form.needs-validation(role="form", method="post", action="/user/register")
            include includes/_errorMessage.pug
            .form-group
                label.collebelxxx.control-label(for="full_name")
                    strong Full Name
                .colinputxxx
                    input#full_name.form-control(type="text" name="full_name" value="" placeholder="Full Name" autofocus="")
            .form-group
                label.collebelxxx.control-label(for="email")
                    strong Email
                .colinputxxx
                    input#email.form-control(type="email" name="email" value="" placeholder="Email")
                    small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
            .form-group
                label.collebelxxx.control-label(for="password")
                    strong Password
                .colinputxxx
                    input#password.form-control(type="password" name="password" value="" placeholder="Password")
            .form-group
                label.collebelxxx.control-label(for="cpassword")
                    strong Confirm Password
                .colinputxxx
                    input#cpassword.form-control(type="password" name="cpassword" value="" placeholder="Confirm password")
            .form-group
                .colinputxxx.col-md-offset-3
                    .checkbox
                        label
                            input#terms(type="checkbox" value="yes" name="terms")
                            | &nbsp;I accept
                            a(href="#") terms
            .form-group
                .colinputxxx.col-md-offset-3
                    button#registerBtn.btn.btn-primary.btn-block(type="submit") Register
                    button#resetBtn.btn.btn-secondary.btn-block(type="reset") Reset

block specific-js
    script(type='text/javascript').
        (function() {
        'use strict';
        window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
        event.preventDefault();
        event.stopPropagation();
        }
        form.classList.add('was-validated');
        }, false);
        });
        }, false);
        })();

        $("#registerBtn").on('click', function(event){

            result = $('#register_form').serializeJSON();
            event.preventDefault();

            fetch('/kunapi/test', {
                method : 'post',
                mode:    'cors',
                headers: {
                    'Content-Type': 'application/json',  // sent request
                    'Accept':       'application/json'   // expected data sent back
                },
                body: JSON.stringify(result)
            })
            .then((res) => res.json())
            .then(json => console.log(json))
            .then(data => console.log(data))
            .catch((error) => console.log(error));

            //- $.ajax({
            //-     url: "/kunapi/test",
            //-     method: "POST",
            //-     data: result
            //- }).done(function( data ) {
            //-     console.log(data.status);
            //-     if ( data ) {

            //-         if(data.status == 'error'){
            //-             var errors = '<ul>';
            //-             $.each( data.message, function( key, value ) {
            //-                 errors = errors +'<li>'+value.msg+'</li>';
            //-             });
            //-             errors = errors+ '</ul>';
            //-             $("#msgDiv").html(errors).show();
            //-         }else{
            //-             $("#msgDiv").removeClass('alert-danger').addClass('alert-success').html(data.message).show();
            //-             //- location.href = "/user/payment_profile";
            //-         }
            //-     }
            //- });
        });
