extends layouts/_layout.pug

block variables
    - var activePage = 'register-page'
    - var activeGroup = 'pages'

block title
    title #{title} | Danish - Thai Gala

block content
    section.material-half-bg
        .cover        
    section.container
        h2.text-center.top-buffer.text-white #{title}
        br

        form#register_form.form(role="form", method="post", action="/user/register")
            include includes/_errorMessage.pug
            .form-group
                label.collebelxxx.control-label(for="full_name") 
                    strong Full Name
                .colinputxxx
                    input#full_name.form-control(type="text" name="full_name" value="" placeholder="Full Name" autofocus="")
            .form-group
                label.collebelxxx.control-label(for="email") 
                    strong Email
                .colinputxxx
                    input#email.form-control(type="email" name="email" value="" placeholder="Email")
                    small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
            .form-group
                label.collebelxxx.control-label(for="password") 
                    strong Password
                .colinputxxx
                    input#password.form-control(type="password" name="password" value="" placeholder="Password")
            .form-group
                label.collebelxxx.control-label(for="cpassword") 
                    strong Confirm Password
                .colinputxxx
                    input#cpassword.form-control(type="password" name="cpassword" value="" placeholder="Confirm password")
            .form-group
                .colinputxxx.col-md-offset-3
                    .checkbox
                        label
                            input#terms(type="checkbox" value="yes" name="terms")
                            | &nbsp;I accept 
                            a(href="#") terms
            .form-group
                .colinputxxx.col-md-offset-3
                    button#registerBtn.btn.btn-primary.btn-block(type="submit") Register
                    //-  button#register-1-foobar.btn.btn-primary.btn-block(type="submit") SIGN IN
                    //- button#register-1-foobar.btn.btn-primary.btn-block(type="e") Register fake

        pre#output1.output1
        pre#output2.output2

block specific-js
    script(type='text/javascript').
        //- $("#register-1-foobar").on('click', function(event){
        //-     event.preventDefault();
        //-     $.alert({
        //-         title: 'Attention Please!',
        //-         content: "<strong>This is testing site:</strong><br>After register system will send email to CLIENT to confirm email<br>It will skip into next step without send confirmation<br><small>- Eddard 'Ned' Stark</small>",
        //-         buttons: {
        //-             Okey: function(){
        //-                 location.href = "/user/payment_profile";
        //-             }
        //-         }
        //-     });
        //- });


        $("#registerBtn").on('click', function(event){
            
            var fulfull_namelname   = $("#full_name").val();
            var email      = $("#email").val();
            var password   = $("#password").val();
            var cpassword  = $("#cpassword").val();
            var terms      = $('input[name="terms"]:checked').val();

            result = $('#register_form').serializeJSON();
            console.log(result);
            //- $('#output2').html('JSON: ' + JSON.stringify(result));

            if(!full_name || !email || !password || !cpassword){ 
                $("#msgDiv").show().html("All fields are required.");
                event.preventDefault();
            } else if(cpassword != password){
                $("#msgDiv").show().html("Password should match.");
                event.preventDefault();
            } else if (!terms){
                $("#msgDiv").show().html("Please agree to terms and conditions.");
                event.preventDefault();
            }
            else{ 
                return true;
                $(this).submit();
                //- $.ajax({
                //-     url: "/user/register",
                //-     method: "POST",
                //-     data: result
                //- }).done(function( data ) {
                //-     if ( data ) {
                //-         console.log(data.status);
                //-         if(data.status == 'error'){
                //-             var errors = '<ul>';
                //-             $.each( data.message, function( key, value ) {
                //-                 errors = errors +'<li>'+value.msg+'</li>';
                //-             });
                //-             errors = errors+ '</ul>';
                //-             $("#msgDiv").html(errors).show();
                //-         }else{
                //-             $("#msgDiv").removeClass('alert-danger').addClass('alert-success').html(data.message).show();
                //-             //- location.href = "/user/payment_profile";
                //-         }
                //-     }
                //- });
            }
        });
