extends layouts/_layout.pug

block variables
  - var activePage = 'login-page'
  - var activeGroup = 'pages'

block title
  title #{title} | Danish - Thai Gala

block content
  section.material-half-bg
    .cover

  section.container
    .top-buffer
      h1.text-center.text-white Danish - Thai GALA
      h2.text-center.text-white #{title}
    .row.mt-5
      .col-md-6.m-auto
        .card.card-body.text-center
          h1
            i.fa.fa-registered(aria-hidden='true')
          p.font-weight-bold Create an account or login
          a.btn.btn-primary.btn-block.mb-2(href='/user/register') Register
          a.btn.btn-secondary.btn-block(href='/user/login') Login

block specific-js
  