extends layouts/_layout.pug

block variables
  - var activePage = 'blank-page'
  - var activeGroup = 'pages'

block title
  title #{title} | Danish - Thai Gala

block content
  section.material-half-bg
    .cover

  section.container
    h2.text-center.top-buffer.text-white #{title}
    br

    //- h2.text-center.top-buffer #{title}
    //- .app-title
    //-   div
    //-     h1
    //-       i.fa.fa-dashboard
    //-       |  Finish
    //-     p Start a beautiful journey here

      //- ul.app-breadcrumb.breadcrumb
      //-   li.breadcrumb-item
      //-     i.fa.fa-home.fa-lg
      //-   li.breadcrumb-item
      //-     a(href='#') Blank Page

    .row
      .col-md-12
        .tile
          .tile-body
            p Thank you for purchasing with us your booking ..............

    .row
      .col-md-12
        include page-user-invoice
