extends layouts/_layout.pug

block variables
    - var activePage = 'register-page'
    - var activeGroup = 'pages'

block title
    title #{title} | Danish - Thai Gala

block content
    section.material-half-bg
        .cover        
    section.container
        h2.text-center.top-buffer.text-white #{title}
        br
        if verificationLink != ''
            .row
                .col-md-12
                    .jumbotron.text-center
                        h3 A verification link has been sent to your email account
                        hr
                        p We have sent an email with a confirmation link to your email address. In order to complete the sign-up process, please click the confirmation link.
                        p If you do not receive a confirmation email, please check your spam folder. Also, please verify that you entered a valid email address in our sign-up form.
                        .text-center
                            a(href=verificationLink, title="verification link") Click here to resend Email

        pre#output1.output1
        pre#output2.output2