extends layouts/_layout.pug

block variables
    - var activePage = 'register-page'
    - var activeGroup = 'pages'

block title
    title #{title} | Danish - Thai Gala

block content
    section.material-half-bg
        .cover        
    section.container
        h2.text-center.top-buffer.text-white #{title}
        br
        if verificationLink != ''
            .row
                .col-md-12
                    .jumbotron.text-center
                        h3 A verification link has been sent to your email account
                        hr
                        p We have sent an email with a confirmation link to your email address. In order to complete the sign-up process, please click the confirmation link.
                        p If you do not receive a confirmation email, please check your spam folder. Also, please verify that you entered a valid email address in our sign-up form.
                        .text-center
                            //- a(href=verificationLink, title="verification link").class verification link
                            //- |
                            //- br
                            //- |
                            a(href=verificationLink, title="verification link") Click here to resend Email

                        //- form(method='post', action='confirm', role='form')
                        //-         .form-group.form-group-lg
                        //-             input.form-control.col-md-6.col-sm-6.col-sm-offset-2(type='text', name='verifyCode', required)
                        //-             input.btn.btn-primary.btn-lg.col-md-2.col-sm-2(type='submit', value='Verify')

        pre#output1.output1
        pre#output2.output2

block specific-js
    script(type='text/javascript').
        //- $("#register-1-foobar").on('click', function(event){
        //-     event.preventDefault();
        //-     $.alert({
        //-         title: 'Attention Please!',
        //-         content: "<strong>This is testing site:</strong><br>After register system will send email to CLIENT to confirm email<br>It will skip into next step without send confirmation<br><small>- Eddard 'Ned' Stark</small>",
        //-         buttons: {
        //-             Okey: function(){
        //-                 location.href = "/user/payment_profile";
        //-             }
        //-         }
        //-     });
        //- });


        $("#registerBtn").on('click', function(event){

            var fulfull_namelname   = $("#full_name").val();
            var email      = $("#email").val();
            var password   = $("#password").val();
            var cpassword  = $("#cpassword").val();
            var terms      = $('input[name="terms"]:checked').val();

            result = $('#register_form').serializeJSON();
            console.log(result);
            //- $('#output2').html('JSON: ' + JSON.stringify(result));

            if(!full_name || !email || !password || !cpassword){ 
                $("#msgDiv").show().html("All fields are required.");
                event.preventDefault();
            } else if(cpassword != password){
                $("#msgDiv").show().html("Password should match.");
                event.preventDefault();
            } else if (!terms){
                $("#msgDiv").show().html("Please agree to terms and conditions.");
                event.preventDefault();
            }
            else{ 
                return true;
                $(this).submit();
                $.ajax({
                    url: "/user/register",
                    method: "POST",
                    data: result
                }).done(function( data ) {
                    if ( data ) {
                        console.log(data.status);
                        if(data.status == 'error'){
                            var errors = '<ul>';
                            $.each( data.message, function( key, value ) {
                                errors = errors +'<li>'+value.msg+'</li>';
                            });
                            errors = errors+ '</ul>';
                            $("#msgDiv").html(errors).show();
                        }else{
                            $("#msgDiv").removeClass('alert-danger').addClass('alert-success').html(data.message).show();
                            //- location.href = "/user/payment_profile";
                        }
                    }
                });
            }
        });
