extends layouts/_layout.pug

block variables
    - var activePage = 'complete-page'
    - var activeGroup = 'pages'

block title
  title #{title} | Danish - Thai Gala

block content
  section.material-half-bg
    .cover
  section.container
    h2.text-center.top-buffer.text-white #{title}
    br
    .row
        .col-md-12
            .tile
                .tile-body
                    p Thank you for purchasing with us your booking ..............