extends layouts/_layout.pug

block variables
    - var activePage = 'register-page'
    - var activeGroup = 'pages'

block title
    title #{title} | Danish - Thai Gala

block content
    section.material-half-bg
        .cover

    section.container
        h2.text-center.top-buffer.text-white #{title}
        br

        //- .alert-success
        //- .alert-warning
        //- .alert-danger

        if sessionFlash && sessionFlash.message
            div(class=sessionFlash.type).fade.show(role='alert')
                p <strong>FLASH!</strong> #{ sessionFlash.message }
                button.close(type='button', data-dismiss='alert', aria-label='Close')
                  span(aria-hidden='true') ×

        form.form(role="form", method="post")
            .form-group
                .alert.alert-danger(role='alert', id="msgDiv")

            .form-group
                label.collebelxxx.control-label(for="fullname") 
                    strong Full Name
                .colinputxxx
                    input#fullname.form-control(type="text" placeholder="Full Name" autofocus="" value="")
            .form-group
                label.collebelxxx.control-label(for="email") 
                    strong Email
                .colinputxxx
                    input#email.form-control(type="email" placeholder="Email")
                    small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
            .form-group
                label.collebelxxx.control-label(for="password") 
                    strong Password
                .colinputxxx
                    input#password.form-control(type="password" placeholder="Password")
            .form-group
                label.collebelxxx.control-label(for="cpassword") 
                    strong Confirm Password
                .colinputxxx
                    input#cpassword.form-control(type="password" placeholder="Confirm password")
            .form-group
                label.collebelxxx.control-label(for="dob") 
                    strong Date of Birth
                .colinputxxx
                    input#dob.form-control(type="date")
            .form-group
                .colinputxxx.col-md-offset-3
                    .checkbox
                        label
                            input#terms(type="checkbox" value="yes" name="terms")
                            | &nbsp;I accept 
                            a(href="#") terms
            .form-group
                .colinputxxx.col-md-offset-3
                    button#register.btn.btn-primary.btn-block(type="e") Register
                    button#register-1-foobar.btn.btn-primary.btn-block(type="e") Register fake


block specific-js
    script(type='text/javascript').
        $("#register-1-foobar").on('click', function(event){
            event.preventDefault();
            $.alert({
                title: 'Attention Please!',
                content: "<strong>This is testing site:</strong><br>After register system will send email to CLIENT to confirm email<br>It will skip into next step without send confirmation<br><small>- Eddard 'Ned' Stark</small>",
                buttons: {
                    Okey: function(){
                        location.href = "/user/payment_profile";
                    }
                }
            });
        });


        $("#register").on('click', function(event){
            event.preventDefault();
            var fullname   = $("#fullname").val();
            var email      = $("#email").val();
            var password   = $("#password").val();
            var cpassword  = $("#cpassword").val();
            var dob        = $("#dob").val();
            var terms      = $('input[name="terms"]:checked').val();

            if(!fullname || !email || !password || !cpassword || !dob){ 
                $("#msgDiv").show().html("All fields are required.");
            } else if(cpassword != password){
                $("#msgDiv").show().html("Password should match.");
            } else if (!terms){
                $("#msgDiv").show().html("Please agree to terms and conditions.");
            }
            else{ 
                $.ajax({
                    url: "/user/register",
                    method: "POST",
                    data: { full_name: fullname, email: email, password: password, cpassword: cpassword, dob: dob, terms: terms }
                }).done(function( data ) {
                    if ( data ) {
                        if(data.status == 'error'){

                            var errors = '<ul>';
                            $.each( data.message, function( key, value ) {
                                errors = errors +'<li>'+value.msg+'</li>';
                            });

                            errors = errors+ '</ul>';
                            $("#msgDiv").html(errors).show();
                        }else{
                            $("#msgDiv").removeClass('alert-danger').addClass('alert-success').html(data.message).show(); 
                        }
                    }
                });
            }
        });
