extends layouts/_layout

block content
  section.material-half-bg
    .cover
    
  section.container
    h2.text-center.top-buffer.text-white #{title}
    br

    .col-md-12
      .tile
        h3.tile-title Seat Number

        .tile-body
          form.row
            .form-group.col-md-12
              .alert.alert-danger(role='alert', id="msgDiv")
          form.row
            
            .form-group.col-md-3

              select#exampleSelect1.form-control
                option 1
                option 2
                option 3
                option(value='4', selected= true) 4
                option 5
                option 6
                option 7
                option 8
                option 9
                option 10
            .form-group.col-md-3
              //- button#register.btn.btn-primary.btn-block(type="e") Register
              button#register-1-foobar.btn.btn-primary.btn-block(type="e") select
            .form-group.col-md-3
            .form-group.col-md-3
            .form-group.col-md-3

    .col-md-12
      .tile
        h3.tile-title Reservation

        .tile-body

          form.row
            .form-group.col-md-3
              label.control-label Firt Name
              input.form-control(type="text", placeholder="Enter your name")
            .form-group.col-md-3
              label.control-label Last Name
              input.form-control(type="text", placeholder="Enter your name")

            .form-group.col-md-3
              label.control-label Email
              input.form-control(type="text", placeholder="Enter your email")

            .form-group.col-md-3
              label.control-label(for='exampleSelect1') Meal Preference
              select#exampleSelect1.form-control
                option Hindu Meals
                option Vegetarian Meals
                option Seafood Meals
                option Child Meals

    .col-md-12
      .tile
        h3.tile-title Check out

        .tile-body
          form.row

            .form-group.col-md-3
              input#readOnlyInput.form-control(type='text', placeholder='16000', readonly='')

            .form-group.col-md-3
              button#btn-paypal-foobar.btn.btn-primary(type="button")
                i.fa.fa-fw.fa-lg.fa-check-circle
                | Purchase via Paypal

            .form-group.col-md-3
              button#btn-bank-foobar.btn.btn-primary(type="button")
                i.fa.fa-fw.fa-lg.fa-check-circle
                | Purchase via Bank Transfer

            .form-group.col-md-3




block specific-js
  script(type='text/javascript').
    $("#btn-paypal-foobar").on('click', function(event){
      event.preventDefault();
      $.alert({
        title: 'Attention Please!',
        content: "<strong>This is testing site:</strong><br>After click it will redirect to paypal page after finish it will redirect to done page and send email to CLIENT DTCC ORGANISER.<br>It will skip into next step without do any transaction<br><small>- Eddard 'Ned' Stark</small>",
        buttons: {
          Okey: function(){
            location.href = "/register/4";
          }
        }
      });

    });
    $("#btn-bank-foobar").on('click', function(event){
      event.preventDefault();
      $.alert({
        title: 'Attention Please!',
        content: "<strong>This is testing site:</strong><br>After click it will redirect to payment prove page page after finish it will redirect to done page and send email to CLIENT DTCC ORGANISER.<br>It will skip into next step without do any transaction<br><small>- Eddard 'Ned' Stark</small>",
        buttons: {
          Okey: function(){
            location.href = "/register/4";
          }
        }
      });

    });

