extends layouts/layout

block variables
	- let activePage = 'business-page'
	- let activeGroup = 'profiles'

block title
	title #{title}

block content

	.app-title
		div
			h1
				i.fa.fa-dashboard
				|  #{title}
			p A free and open source Bootstrap 4 admin template

		ul.app-breadcrumb.breadcrumb
			li.breadcrumb-item
				i.fa.fa-home.fa-lg
			li.breadcrumb-item
				a(href='/') Dashboard
			li.breadcrumb-item
				a(href='#') #{title}

	.row.user
		//- .col-md-12
		//- 	.profile
		//- 		.info
		//- 			img.user-img(src="https://th.gravatar.com/userimage/140410095/fa72fbc0a1fb36061f2c2ba3e804dc9a.jpeg")
		//- 			h4 John Doe
		//- 			p FrontEnd Developer
		//- 		.cover-image

		//- .col-md-3
		//- 	.tile.p-0
		//- 		ul.nav.flex-column.nav-tabs.user-tabs
		//- 			li.nav-item
		//- 				a.nav-link.active(href='#user-timeline' data-toggle='tab') Timeline
		//- 			li.nav-item
		//- 				a.nav-link(href='#user-settings' data-toggle='tab') Settings

		.col-md-12
			.tab-content
				#user-timeline.tab-pane.fade
					.timeline-post
						.post-media
							a(href="#")
								img(src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg")
							.content
								h5: a(href="#") John Doe
								p.text-muted
									small 2 January at 9:30
						.post-content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,	quis tion ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						
						ul.post-utility
							li.likes
								a(href="#")
									i.fa.fa-fw.fa-lg.fa-thumbs-o-up
									| Like

							li.shares
								a(href="#")
									i.fa.fa-fw.fa-lg.fa-share
									| Share

							li.comments
								i.fa.fa-fw.fa-lg.fa-comment-o
								|  5 Comments

					.timeline-post
						.post-media
							a(href="#")
								img(src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg")
							.content
								h5: a(href="#") John Doe
								p.text-muted
									small 2 January at 9:30
						.post-content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,	quis tion ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						
						ul.post-utility
							li.likes
								a(href="#")
									i.fa.fa-fw.fa-lg.fa-thumbs-o-up
									| Like

							li.shares
								a(href="#")
									i.fa.fa-fw.fa-lg.fa-share
									| Share

							li.comments
								i.fa.fa-fw.fa-lg.fa-comment-o
								|  5 Comments

				#user-settings.tab-pane.active
					.tile.user-settings
						h4.line-head #{title}

						form
							.row.mb-4
								.col-md-6
									label First Name
									input.form-control(type="text")

								.col-md-6
									label Last Name
									input.form-control(type="text")

							.row
								.col-md-12.mb-4
									label Email
									input.form-control(type="text")

								.clearfix

								.col-md-12.mb-4
									label Mobile No
									input.form-control(type="text")

								.clearfix

								.col-md-12.mb-4
									label Office Phone
									input.form-control(type="text")

								.clearfix
								
								.col-md-12.mb-4
									label Home Phone
									input.form-control(type="text")

							.form-row
								.form-group.col-md-6
									label(for='inputEmail4') Company Name
									input.form-control#inputEmail4(type='email', placeholder='Company')
								.form-group.col-md-6
									label(for='inputPassword4') TAX ID
									input.form-control#inputPassword4(type='password', placeholder=' TAX ID')
							.form-group
								label(for='inputAddress') Address
								input.form-control#inputAddress(type='text', placeholder='1234 Main St')
							.form-group
								label(for='inputAddress2') Address 2
								input.form-control#inputAddress2(type='text', placeholder='Apartment, studio, or floor')
							.form-row
								.form-group.col-md-6
									label(for='inputCity') City
									input.form-control#inputCity(type='text')
								.form-group.col-md-4
									label(for='inputState') State
									select#inputState.form-control
										option(selected='') Choose...
										option ...
								.form-group.col-md-2
									label(for='inputZip') Zip
									input.form-control#inputZip(type='text')
								

							.row.mb-10
								.col-md-12
									button.btn.btn-primary(type="button")
										i.fa.fa-fw.fa-lg.fa-check-circle
										|  Save


