h1
p Hi #{name},
| Confirm registration e-mail

br
| Now you are just one step away from activating your account to take part in Danish - Thai gala !

br
| Click the link below and start reserving your tickets.

br
a(href=#{verificationLinkUrl}) Verify link