h1 Confirm reservation

p Thank you for your reservation for the Danish-Thai Gala.
p We have received your confirmation and payment and you could find your receipt in attached file. As we getting a little closer to the event, we will send you the official E-Invitation directly. In the meantime, you don’t want to miss the updates about the gala’s activities ! And we’d love if you could SPREAD THE WORDS about this marvellous event. You can find the link to our exclusive community below.
  
p Danish-Thai Gala Facebook (มีโลโก้ แนบลิ้ง www.facebook.com/DanishThaiGala )
p Danish-Thai Gala Instagram (มีโลโก้ แนบลิ้ง https://instagram.com/danishthaigala?igshid=634xm99azq4a )
p
  | 
Thank you again for your reservation.
  br
  | 
If you have any questions, please feel free to reach out to us.
transaction-complete
p.
    Best regards,
p.
    Danish-Thai gala organisersA